body,
.flex {
  display: flex;
}

body {
  flex-direction: column;
}

.topRow {
  justify-content: space-between;
}

.topLeft,
.topRight {
  flex-direction: column;
}

.topRow,
.bottomRow,
.topLeft,
.topRight {
  border: 2px solid black;
}
